body {
    margin: 0;
    padding: 20px;
    height:max-content;
    background-attachment: fixed;
}

.title {
    font-size: 90px;
    text-align: center;
    height: 120px;;
}

.selectMenu {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.vsButton, .startButton{
    height: 50px;
    width: 150px;
}

.namesMenu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

.gameZone {
    display: none;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gameBoardGrid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 50px;
}

.block:hover {
    background-color:blanchedalmond;
}

h5 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    max-width: 70%;
    height: auto;
}
a:link, a:hover, a:visited, a:active {
    color: white;
    padding-left: 5px;
}